[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Anil Yadav (ojasyadav)
[access "refs/for/refs/*"]
	read = group user/Anil Yadav (ojasyadav)
	push = group user/Anil Yadav (ojasyadav)
	label-Code-Review = -2..+2 group user/Anil Yadav (ojasyadav)
	label-Verified = -1..+1 group user/Anil Yadav (ojasyadav)
	rebase = group user/Anil Yadav (ojasyadav)
	removeReviewer = group user/Anil Yadav (ojasyadav)
	submit = group user/Anil Yadav (ojasyadav)
[access "refs/heads/*"]
	read = group user/Anil Yadav (ojasyadav)
	create = group user/Anil Yadav (ojasyadav)
	push = +force group user/Anil Yadav (ojasyadav)
	pushMerge = group user/Anil Yadav (ojasyadav)
[access "refs/tags/*"]
	push = +force group user/Anil Yadav (ojasyadav)
	pushTag = group user/Anil Yadav (ojasyadav)
	pushSignedTag = group user/Anil Yadav (ojasyadav)
